/*
    -------------------------------------------------------------
    ----------  /05-mas-de-100-proyectos-html-css-js/  ----------
    ----------  /src/styles/  -----------------------------------
    ----------  /layout-main.css  -------------------------------
    -------------------------------------------------------------
*/


.layout__main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5rem;
    margin-top: 20rem; 
    margin-bottom: 5rem;
}

.main__section {
    max-width: 102.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 5rem;
    padding-bottom: 5rem;
    border-radius: 0.5rem;
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(219, 228, 240), rgb(176, 196, 236));
    box-shadow: 50px 50px 100px rgb(209, 220, 235);
}

.main__background {
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(219, 228, 240), rgb(176, 196, 236));
    box-shadow: 50px 50px 100px rgb(209, 220, 235);
}

.main__banner {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.main__title {
    width: 100%;
    font-size: 2.6rem;
    color: #e9edeec7;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.main__pdfs {
    border-radius: 5px;
}


.main__description-project {
    max-width: 76.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #b4a8a8;
}

.description-project__title {
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    background-color: #E8EFFA;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #b4a8a8;
}

.description-project__description {
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 2;
    background-color: #E8EFFA;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #b4a8a8;
}

/*
    ----------------------------------
    ----------  Responsive  ----------
    ----------------------------------
*/


@media (max-width: 1380px) {

    .layout__main {
        margin-top: 25rem;
    }

}

@media (max-width: 1024px) {

    .layout__main {
        margin-top: 5rem;
    }

    .main__section {
        padding: 2rem;
    }
}

@media (max-width: 568px) {

    .main__section {
        padding: 1rem;
        
    }
}